
body {
  font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

# {
    font-size: 20px ;
    cursor: pointer ;
        margin-left: 100px ;
}
span{
        margin-left: px;
    padding-right: 20px;
    margin-top: 25px;
        font-size:20px !important;
    }
span h4{
    font-size: 20px;
    margin-left:20px;
    margin-top: -15px;
}
span h3{
    margin-top: -30px;
    margin-left: 50px; 
    font-size: 20px;
    
}



/*--section1--*/
#section1{
     width:100%;
    margin-top: -8px;
    border-bottom: 1px solid #000;
    }
.navbar{
    width: 100%;
    
}
.navbar .container{
    width: 100%;
}
#mySidenav img .img2{
}
.logo_area .logo1{
    margin-left: -50px;
    margin-top: -20px;
}
.logo_area .logo2{
    margin-left: 10px;
    margin-top: -10px;
}
#section1 .box{
    margin-top: 10px;
    width:350px;
    height: 70px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding:15px;
     
}

.box > i{
    font-size: 20px;
    color: #000;
}
.box>input{
    flex: 1;
    padding-top: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    font-size: 18px;
}
.navbar ul{
 n display: block;
}
.navbar .nav-item{
   font-family: Open Sans;
font-size: 18px;
    margin-top: 10px;
    margin-right: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.0075em;
text-align: center;
    width: 150px;
    
}
.navbar .nav-item button{}
.navbar .nav-item button{
    text-decoration: none;
     color: gray;
    border: 1px solid gray;
   font-size: 20px;
    margin-left: -80px;
/*
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
*/
    border-radius: 8px;
}
.navbar .nav-item i.fa-cart-plus{margin-left:-70px;}
.navbar .pls button.car{
    margin-left: -80px;
    font-size: 18px;
    border: none;
    box-shadow: gray;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EFF7FF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.container .sidebar .pic{
    padding-right:10px;
}
.sidenav a:hover {
  color: #ddd;
    background-color: antiquewhite;
    border-radius:8px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*section2*/
#section2{
    width: 100%;
    background: #fff;
    height:50px;
    border-bottom: 1px solid #000;
}
#section2 .container{width: 100%;height: auto;}
#section2 .container ul{
    list-style: none;
    margin-top: 30px;
}
#section2 li{
    display: inline-block;
}
#section2 .container ul li a{
  margin-left:30px;;
     font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
}

#section2 .container a{
    text-decoration: none;
    display: inline-block;
    margin-right: 0px;
    color: #000;
}
/*-- Section3--*/

#section3{
    width: 100%;
    margin-top: 1px;x;
    
}
#section3 .kk img.super{
    margin-left: -5px;
}
#section3 .kk img.im{
    margin-left: 100px;
}
#section3 .kk img{
    margin-left: 50px;
    margin-top: 90px;
                
}
#section3 .kk p{
    font-family: Open Sans;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    margin-left: 100px;
    color: rgba(0,0,0,0.87);
}
/*
box-shadow: 0px 3px 8px 0px #DA573A33;

box-shadow: 0px 4px 4px 0px #DA573A1A;
*/

#section3 .kk{
    height:400px !important;             
    background: url(img/image%2065.png);
}
#section3 .kk a.up{
     margin-top: 560px;
   text-decoration: none;
    color: #fff;
    border-radius: 4px;
    margin-left: 120px;
    background-color: #2EA387;
    box-shadow: 0px 3px 8px 0px #DA573A33;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 13px;
    padding-top: 13px;
}
#section3 .kk a.all{
    margin-top: 580px;
   text-decoration: none;
    color: #fff;
    border-radius: 4px;
    margin-left: 40px;
    background-color: #CA2400;
    box-shadow: 0px 3px 8px 0px #DA573A33;

    padding: 14px;;
}



/* --section4-- */
#section4{
    width: 100%;
    height: 200px;
    
}
#section4 .container {
    width: auto;
    height: auto;
    margin-top: 40px;
}

#section4 .container .row .col-md-6>img{
    margin-left: 325px;
    margin-top: -100px;
}
#section4 .container .row .col-md-6>p{
    color: #000;
    font-family: Open Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
border-left: 1px solid #CA2400;
}
#section4 .container .row .col-md-6>a{
    text-decoration: none;;
    margin-left: -195px;
    margin-bottom: -5px;
    color:#CA2400;
    padding: 8px;
    border: 1px solid #CA2400;
    border-radius: 4px;
    width: 132px; 
    height: 60px;
}
/*--section5--*/
#section5{
    margin-top: -120px;
}
#section5 .txt ul li{
    display: inline-block;
    margin-right:200px;
    
}
#section5 .jj{
    margin-left: 900px;
    margin-top: -230px;
}
#section5 .container .halal img{
    width: 200px;
    margin-right: 20px;
}
/*    */
#section5 .rice h4 {
    margin-right: -140px !important;;
}
#section5 .rice{
    margin-left: 240px;
    margin-top: -280px;
    margin-bottom: 100ppx;
}

#section5 h4 {
    /* margin-right: -140px !important; */
    margin-left: 70px !important;
    padding-top: 10px !important;
     font-style:normal;
    font-family: Open Sans;
    font-size: 36px;
    font-weight: bold;
       
}
/*--section6--*/

#section6{
    width: 100%;
    height: 200px;
    padding-top:20px;
}
#section6 .container {
    width: auto;
    height: auto;
    margin-top: 40px;
}

#section6 .container .row .col-md-6>img{
    margin-left: 325px;
    margin-top: -100px;
}
#section6 .container .row .col-md-6>p{
    color: #000;
    font-family: Open Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
border-left: 1px solid #CA2400;
}
#section6 .container .row .col-md-6>a{
    text-decoration: none;;
    margin-left: -195px;
    margin-bottom: -5px;
    color:#CA2400;
    padding: 8px;
    border: 1px solid #CA2400;
    border-radius: 4px;
    width: 132px; 
    height: 60px;
}
/*--carousel--*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  
  height: 100%;
  
}
#section9 .slider{
    display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
%section9 .slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}

/*--section10--*/

#section10{
    
}
#section10 h3{
    padding-top: 40px;
    font-weight: 700;
    font-family: Open Sans;
    font-size: 36px;
    
}


