@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600&display=swap');
:root {
    --primary: #CA2400;
    --primary-hover: #5e1100;
    --accent: #2EA387;
    --accent-hover: #237763;
    --light-gray: #EDEDF0;
    --light-gray-2: #cecece;
    --gray: #555555;
    --dark-gray: #353535;
    --light-accent: #EFF7FF;
    --font-s: 1.125rem;
    --font-standard: 1.25rem;
    --font-l: 1.5rem;
    --font-xl: 2.25rem;

    --margin-section: 90px;
    --margin-subsection: 60px;   
    
    --icon-size: 40px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
i {
    line-height: 0px;
}
body {
    width: 100%;
}

.text-primary {
    color: var(--primary);
}
.text-accent {
    color: var(--accent);
}
.bi-x {
    color: red;
    cursor: pointer;
}
/* Buttons */
.btn {
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    transition: background-color .3s ease-out;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-2 {
    padding: 5px 30px;
    border-radius: 30px;
    transition: background-color .3s ease-out;
    text-decoration: none;
}
.btn-rounded {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: background-color .3s ease-out;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-rounded-sm {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: background-color .3s ease-out;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--light-gray);
}
.btn-bordered {
    border: 1px solid black;
}
.btn-primary {
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover {
    background-color: var(--primary-hover);
}
.btn-accent {
    background-color: var(--accent);
    color: white;
}
.btn-accent:hover {
    background-color: #0a5c49;
}
.btn-3d {
    box-shadow: 0px 4px 4px rgba(218, 87, 58, 0.1), 0px 3px 8px rgba(218, 87, 58, 0.2);
}
.btn-3d:hover {
    box-shadow: 0px 2px 2px rgba(218, 87, 58, 0.1), 0px 1px 6px rgba(218, 87, 58, 0.2);
}
.btn-gray {
    background-color: var(--light-gray);
    color: black;
    &:hover {
        background-color: var(--gray);
    }
}
.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
.text-gray {
    color: var(--gray);
}
.favourite {
    height: 25px;
    width: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
.section_heading {
    margin-top: var(--margin-section);
    display: flex;
    align-items: center;
}
.section_heading a {
    margin-left: 20px;
    color: var(--primary);
    border-color: var(--primary);
}
.section_heading .v_divider {
    margin-left: 20px;
}
.h_list-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;

}
.h_list-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: auto;
    grid-gap: 30px;
}
.h_list-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
}
.h_list-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
}
.selectable_badges {
    display: inline-block;
    font-size: 0.7rem;
    color: var(--gray);
    background-color: var(--light-gray);
    padding: 4px 25px;
    border-radius: 22px;
    cursor: pointer;
    margin: 5px;
    transition: background .3s ease-out;
    box-sizing: border-box;
    border: 2px solid transparent;
    &:hover {
        background-color: var(--light-gray-2);
    }
}
.bordered_badge {
    display: inline-block;
    font-size: 0.7rem;
    color: black;
    border: 2px solid var(--gray);
    border-radius: 3px;
    padding: 4px;
}
.badge {
    padding: 4px 18px;
    border-radius: 15px;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: bold;
}
.badge-aqua {
    background-color: #B3F7E6;
    color: black;
}
.badge-light_red {
    background-color: #FF8F76;
    color: white;
}
.paginate_button {
    padding: 10px;
    text-decoration: none;
    color: var(--gray);
    border: 1px solid transparent;
    &:hover {
        border: 1px solid var(--light-gray-2);
    }    
}
.paginate_button_selected {
    border: 1px solid var(--light-gray-2);
    pointer-events: none;
}
.paginate_button_disabled {
    color: var(--light-gray-2);
    pointer-events: none;
}
.badge_selected {
    border: 2px solid var(--gray);
}
.link_standard {
    text-decoration: none;
    color: unset;
}
.card {
    padding: 30px 20px;    /* Primary-white */

    background: #FFFFFF;
    /* Shadow-light */

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.full_logo_inverted {
    display: flex;
    align-items: center;
    .icon_container {
        background-color: white;
        height: var(--icon-size);
        width: var(--icon-size);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-right: 12px;
    }
    span {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
.mt-subsection {
    margin-top: var(--margin-subsection);
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 15px;
}
.mt-3 {
    margin-top: 25px;
}
.mt-4 {
    margin-top: 40px;
}
.m-1 {
    margin: 10px;
}
.m-2 {
    margin: 15px;
}
.m-3 {
    margin: 25px;
}
.m-4 {
    margin: 40px;
}
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 15px;
}
.p-3 {
    padding: 25px;
}
.p-4 {
    padding: 40px;
}
.flex {
    display: flex;
}
.flex-v {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-space_evenly {
    justify-content: space-evenly;
}
.flex-justify-space_around {
    justify-content: space-around;
}
.flex-justify-space_between {
    justify-content: space-between;
}
.flex-stretch {
    flex: 1;
}
.flex-gap-1 {
    gap: 10px;
}
.flex-gap-2 {
    gap: 15px;
}
.flex-gap-3 {
    gap: 20px;
}
.flex-gap-4 {
    gap: 25px;
}
.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.v_centered {
    margin: 0 auto;
}
/* Dividers */
.full-divider {
    width: 100%;
    height: 1px;
    background-color: black;
}
.half_underline::after {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 60px;
    margin-top: 2px;
}
.avatar-sm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: cover;
}
/* Item card */
.item_card {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 9px;
    padding: 16px;
    box-sizing: border-box;
    .thumbnail {
        width: 100%;
        height: 224px;
        margin-bottom: 12px;
        border-radius: 9px;
        position: relative;
        .favourite {
            position: absolute;
            right: 10px;
            bottom: 10px;
            border-radius: 10px;
        }
    }
    h5 {
        margin-bottom: 12px;
    }
    .overview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        color: var(--gray);
        margin-bottom: 10px;
        .star_rating_container {
            display: flex;
            align-items: center;
            .star_rating {
                color: var(--primary);
                margin-right: 5px;
            }
            .label {
                padding-top: 3px;
            }
        }
        & > p {
            font-style: italic;
        }
    }
    .pricing_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
            display: flex;
            align-items: center;
            gap: 7px;
            .current_price {
                font-size: 1.6rem;
                font-weight: bold;
            }
            .prev_price {
                text-decoration: line-through;
            }
        }
        & > p {
            font-style: italic;
            font-size: 0.8rem;
        }
    }
    .add_to_cart_button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        a {
            font-weight: lighter;
        }
    }
}

.item_image_card {
    width: 100%;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    .thumbnail {
        background-size: cover;
        width: 100%;
        height: 318px;
        position: relative;
        p {
            position: absolute;
            left: 30px;
            bottom: 30px;
            padding: 5px 15px 5px 15px;
            background-color: var(--primary);
            color: white;
            font-weight: bold;
            border-radius: 9px;
            font-size: 0.8rem;
        }
    }
    .details {
        padding: 20px;
        h5 {
            font-size: 1.6rem;
            font-weight: lighter;
        }
    }
    .overview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        margin-bottom: 10px;
        
    }

    
}
.review_card {
    width: 100%;
    max-width: 676px;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    .author {
        display: flex;
        gap: 30px;
        padding: 18px;
        border-bottom: 0.1px solid var(--light-gray);
        p {
            &:nth-child(2) {
                font-weight: lighter;
            }
        }
    }
    .review {
        padding: 18px;
        display: flex;
        gap: 40px;        
        .thumbnail {
            height: 140px;
            width: 140px;
            border-radius: 9px;
            background-size: cover;
        }
        .details {
            flex: 1;
            .review_text {
                font-weight: lighter;
            }
            .overview {
                display: flex;
                align-items: center;
                gap: 10px;
                .reacts {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-top: 5px;
                    i {
                        color: var(--light-gray);
                    }
                    p {
                        font-weight: bold;
                        color: var(--gray);
                    }
                }
            }
        }
    }
}
/* Star rating style */
.star_rating_container {
    display: flex;
        align-items: center;
        .star_rating {
            color: var(--primary);
            margin-right: 5px;
        }
        .label {
            padding-top: 5px;
        }
}

form {            
    .input_group {
        
        label {
            display: block;
            font-size: 0.9rem;
            color: var(--gray);
            margin-bottom: 15px;
        }
      .groued_input {
          position: relative;
          i {
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1.2rem;
          }
        }
        input {
            display: block;
            padding: 13px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid var(--light-gray-2);
            outline: none;
            &:focus {
                border: 1px solid var(--gray);
            }
        }
        textarea {
            border: 1px solid var(--light-gray-2);
            outline: none;
            padding: 13px;
            width: 100%;
            box-sizing: border-box;
            &:focus {
                border: 1px solid var(--gray);
            }
        }
    }  
  }
.has_badge {
    position: relative;
    .badge_top_right {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 20px;
        width: 20px;
        background-color: var(--primary);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 0.7rem;
    }
    .badge-none {
        display: none;
    }
}


@media only screen and (max-width: 1028px) {
    // .hot_sales_slider {
    //     .glider-slide {
    //         width: 158px !important;
    //     }
    // }
    /* Item card */
    .item_card {
        border-radius: 4.5px;
        padding: 8px;
        .thumbnail {
            height: 112px;
            margin-bottom: 6px;
        }
        h5 {
            margin-bottom: 6px;
        }
        .overview {
            font-size: 0.4rem;
            margin-bottom: 5px;
            .star_rating_container {
                .star_rating {
                    margin-right: 2.5px;
                }
                .label {
                    padding-top: 1.5px;
                }
            }
        }
        .pricing_container {
            .price {
                gap: 3.5px;
                .current_price {
                    font-size: 0.8rem;
                }
                .prev_price {
                    font-size: 0.8rem;
                }
            }
            & > p {
                font-size: 0.4rem;
            }
        }
        .add_to_cart_button {
            margin-top: 10px;
        }
    }

    .item_image_card {
        width: 100%;
        border-radius: 4.5px;
        
        .thumbnail {
            height: 159px;
            p {
                left: 15px;
                bottom: 15px;
                padding: 2.5px 7.5px 2.5px 7.5px;
                background-color: var(--primary);
                border-radius: 4.5px;
                font-size: 0.4rem;
            }
        }
        .details {
            padding: 10px;
            h5 {
                font-size: 0.8rem;
            }
        }
        .overview {
            font-size: 0.4rem;
            margin-bottom: 5px;
            
        }
    
        
    }
    .review_card {
        .review {
            gap: 7px;
            .thumbnail {
                width: 70px !important;
                height: 70px !important;
            }
        }
    }

    .h_list-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-template-rows: auto;
        grid-gap: 5px;
    }
    .h_list-2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
        grid-gap: 5px;
    }
    .h_list-4 {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    }

}