.top_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 25px;
}

.top_level .profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.top_level .profile_info .avatar-sm {
  background-color: var(--light-gray);
  font-weight: bold;
}

.top_level .profile_info .details p {
  font-family: 'Montserrat', sans-serif !important;
}

.top_level .profile_info .details p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 300;
}

.top_level .profile_info .details p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--light-gray-2);
}

.top_level .profile_info i {
  cursor: pointer;
}

.top_level .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--light-gray);
  border-radius: 100px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_level .search input {
  border: none;
  outline: none;
  background: none;
  color: var(--gray);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top_level .nav-action {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background .4s ease-out;
  transition: background .4s ease-out;
}

.top_level .nav-action:hover {
  background-color: var(--light-gray);
}

.top_level .unread {
  position: relative;
}

.top_level .unread:after {
  content: " ";
  display: block;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: red;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

nav {
  padding: 18px 16px;
  background-color: var(--light-gray);
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-gray-3);
  font-size: 0.9rem;
}

nav ul li a:hover {
  color: var(--gray);
}

nav ul .selected a {
  font-weight: bold;
  color: var(--gray);
  pointer-events: none;
}

.content {
  margin: 20px 30px;
}

.content .tabs .btn {
  display: block !important;
  color: var(--gray);
  font-size: 0.8rem;
}

.content .tabs .btn:hover {
  background-color: var(--light-gray-2);
}

@media only screen and (max-width: 1028px) {
  .top_level .search {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .top_level .logo {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */