
.content-blocks {
    padding: 10px 30px;
    .menu {
        background-color: var(--light-gray);
        padding: 40px;
        font-size: 0.9rem;
        height: 300px;
        color: var(--gray);
        h3 {
            font-size: 0.9rem;
            font-weight: bold;
            margin-bottom: 7px;
        }
        li {
            padding: 2.5px 0px;
            a {
                text-decoration: none;
                color: var(--gray);
            }
            .selected a {
                pointer-events: none;
                font-weight: bold;
            }
        }
    }
    .contents {
        flex: 1;
        .section {
            border: 1px solid var(--light-gray);
            padding: 20px;
        }
    }

}