.content {
    margin: 20px 30px;
    .tabs {
        .btn {
            display: block !important;
            color: var(--gray);
            font-size: 0.8rem;
            &:hover {
                background-color: var(--light-gray-2);
            }
        }
    }
}
.content-blocks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2;
    gap: 10px;
    grid-template-areas: 
        "sales sales sales orders orders orders"
        "announcements announcements traffic_rate payment_summary payment_summary offer_for_seller"
        ;
    margin: 30px 20px;
    .sales {
        grid-area: sales;
    }
    .orders {
        grid-area: orders;
    }
    .announcements {
        grid-area: announcements;
    }
    .traffic_rate {
        grid-area: traffic_rate;
    }
    .payment_summary {
        grid-area: payment_summary;
        table {
            border: 1px solid var(--light-gray);
            tr:nth-child(1) {
                border-bottom: 2px solid var(--gray);
            }
            a {
                text-decoration: none;
                color: var(--blue);
            }
        }
    }
    .offer_for_seller {
        padding: 5px;
        table {
            padding: 5px;
            td {
                padding: 5px 0px;
            }
            border: 1px solid var(--light-gray);
            font-size: 0.8rem;
        }
        
        grid-area: offer_for_seller;
        .action_button {
            width: 100%;
            padding: 20px 0px;
            border: 1px solid var(--light-gray);
            a {
                text-decoration: none;
                color: var(--blue);
            }
        }
    }
}
@media only screen and (max-width: 1208px) {
    .content-blocks {
        width: 90vw;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas: 
            "sales"
            "orders"
            "announcements" 
            "traffic_rate"
            "payment_summary" 
            "offer_for_seller"
        ;
    }
}