.page_content {
    width: 100%;
    display: flex;
    .checkout {
        flex: 1;
    }
    .hide {
        display: none !important;
    }
    h1 {
        text-align: center;
    }
    .tab_navigator {
        padding: 30px;
        .tabs {
            display: flex;
            font-weight: bold;
            font-size: 1.3rem;
            color: var(--light-gray-2);
            .tab {
                flex: 1;
                text-align: center;
                padding: 20px 0px;
                border-bottom: 3px solid var(--light-gray-2);
                cursor: pointer;
                &:hover {
                    color: var(--gray);
                    border-bottom: 3px solid var(--gray);
                }
            }
            .selected {
                pointer-events: none;
                color: var(--primary);
                border-bottom: 3px solid var(--primary);
            }
            
        }
        .fields {
            margin-top: 30px;  
            .payment_selection {
                form {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(2/*  */, 1fr);
                    grid-gap: 25px;
                    grid-template-areas: 
                        "cc cc cc cc cc"
                        "name name name exp cvv "
                    ;
                }
                .cc {
                    grid-area: cc;
                }
                .name {
                    grid-area: name;
                }
                .exp {
                    grid-area: exp;
                }
                .cvv {
                    grid-area: cvv;
                }
                .save_credit_card {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    div {
                        &:nth-child(1) {
                            display: flex;
                            color: var(--gray);
                            align-items: center;
                            input {
                                margin-right: 10px;
                            }
                        }
                        &:nth-child(2) {
                            display: flex;
                            span, img {
                                margin-right: 15px;
                            }
                        }
                    }
                    input[type="checkbox"] {
                        height: 25px;
                        width: 25px;
                        appearance: none;
                        background-color: white;
                        border: 0.1px solid var(--light-gray-2);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:checked:after {
                            display: block;
                        }
                        &:after {
                            content: '\f00c';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 0.8rem;
                            color: var(--gray);
                            display: none;
                        }
                    }
                }
            }  
            .double_column {
                display: grid;
                grid-gap: 25px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                width: 100%;
                .span-row-2 {
                    grid-row: span 2;
                }
            }      
            .action {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.3rem;
                a {
                    &:nth-child(1) {
                        color: var(--gray);
                        text-decoration: none;
                    }
                    &:nth-child(2) {
                        padding-left: 150px;
                        padding-right: 150px;
                        font-weight: lighter;
                    }
                }
            }
        }
    }

    .cart_details {
        width: 442px;
        background-color: var(--light-gray);
        box-sizing: border-box;
        padding: 40px;
        .shopping_cart {
            
            .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                h3 {
                    font-size: 1.2rem;
                }
                span {
                    height: 28px;
                    width: 28px;
                    background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: white;
                    font-size: 0.8rem;
                }
            }
            .items {
                margin-top: 40px;
                .item {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    margin-bottom: 40px;
                    .thumbnail {
                        height: 100px;
                        width: 100px;
                        border-radius: 9px;
                        background-size: cover;
                    }
                    .details {
                        p {
                            &:nth-child(1) {
                                margin-bottom: 10px;
                            }
                            &:nth-child(2) {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .order_summary {
            width: 100%;
            margin-top: 50px;
            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.9rem;
                color: var(--gray);
                margin-bottom: 15px;
            }
            .total {
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }
}
footer {
    margin-top: 0px;
}
@media only screen and (max-width: 1140px) {
    .page_content {
        flex-direction: column;
        .tabs {
            font-size: 0.8rem !important;
        }
        .payment_selection {
            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr) !important;
                grid-template-rows: repeat(3, 1fr) !important;
                grid-template-areas: 
                    "cc cc"
                    "name name"
                    "exp cvv" !important
                ;
            }
        }
        .save_credit_card {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
        .action {
            margin-top: 40px !important;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
        }
        .cart_details {
            width: 100%;
        }
    }
}