:root {
  --nav-height: 178px;
  --nav-height-half: 88px;
}

nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 4;
  background-color: white;
}

nav .primary_nav {
  max-width: 1440px;
  margin: 0 auto;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px;
  padding-right: 26px;
}

nav .primary_nav > div {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .primary_nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-xl);
}

nav .primary_nav-logo .icon_container {
  background-color: var(--primary);
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-right: 10px;
}

nav .primary_nav-menu {
  font-size: var(--font-l);
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav .primary_nav-menu:hover {
  background-color: var(--light-gray);
  border-radius: 10px;
}

nav .primary_nav-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--light-gray);
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .primary_nav-search .search-icon {
  margin-left: 20px;
  margin-right: 10px;
}

nav .primary_nav-search input {
  background: none;
  border: none;
  outline: none;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .primary_nav-search .clear-icon {
  margin-left: 10px;
  margin-right: 20px;
}

nav .primary_nav-menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav .primary_nav-menu_items li {
  padding: 0px 10px 0px 10px;
}

nav .primary_nav-menu_items li a {
  text-decoration: none;
  color: black;
}

nav .primary_nav-menu_items .hover_popup {
  position: relative;
}

nav .primary_nav-menu_items .hover_popup .badge_top_right {
  top: -15px;
}

nav .primary_nav-menu_items .hover_popup:hover .popup {
  display: block;
}

nav .primary_nav-menu_items .hover_popup:hover:before {
  display: block;
}

nav .primary_nav-menu_items .hover_popup:before {
  content: "";
  display: none;
  width: 350px;
  height: 375px;
  position: absolute;
  top: 15px;
  right: 0px;
}

nav .primary_nav-menu_items .hover_popup:before:hover .popup {
  display: block;
}

nav .primary_nav-menu_items .hover_popup .popup {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  width: 350px;
  height: 375px;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 15px;
  -webkit-box-shadow: 0px -2px 25px rgba(44, 44, 44, 0.15), 0px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 25px rgba(44, 44, 44, 0.15), 0px 10px 15px rgba(0, 0, 0, 0.25);
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

nav .primary_nav-menu_items .hover_popup .popup:hover {
  display: block;
}

nav .primary_nav-menu_items .hover_popup .popup::-webkit-scrollbar {
  width: 2px;
  border-radius: 1px;
}

nav .primary_nav-menu_items .hover_popup .popup::-webkit-scrollbar-track {
  background: transparent;
}

nav .primary_nav-menu_items .hover_popup .popup::-webkit-scrollbar-thumb {
  background: var(--primary);
}

nav .primary_nav-menu_items .hover_popup .popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav .primary_nav-menu_items .hover_popup .popup .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  white-space: nowrap;
}

nav .primary_nav-menu_items .hover_popup .popup .heading div:nth-child(1) {
  width: 30px;
}

nav .primary_nav-menu_items .hover_popup .popup .heading div:nth-child(2) {
  width: 84px;
}

nav .primary_nav-menu_items .hover_popup .popup .heading div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .primary_nav-menu_items .hover_popup .popup .heading div:nth-child(4) {
  width: 60px;
  text-align: right;
}

nav .primary_nav-menu_items .hover_popup .popup .items {
  width: 100%;
  margin-top: 40px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item {
  margin-top: 20px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 div:nth-child(1) {
  width: 30px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 div:nth-child(2) {
  width: 84px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 div:nth-child(4) {
  width: 60px;
  text-align: right;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary);
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .action i {
  cursor: pointer;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .thumbnail {
  background-size: cover;
  width: 84px;
  height: 84px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .details .quality_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-1 .details .quality_control button {
  height: 25px;
  width: 25px;
  font-size: 1.4rem;
  font-weight: lighter;
}

nav .primary_nav-menu_items .hover_popup .popup .items .item .row-2 {
  margin-top: 15px;
  margin-left: 30px;
}

nav .secondary_nav {
  margin: 0 auto;
  max-width: 1440px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin .5s ease-out;
  transition: margin .5s ease-out;
}

nav .secondary_nav .selected {
  font-weight: bold;
  border-bottom: 1px solid black;
  pointer-events: none;
}

nav .secondary_nav__hide {
  z-index: -1;
  margin-top: -50%;
}

nav .secondary_nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav .secondary_nav .menu li {
  padding: 0px 10px;
}

nav .secondary_nav .menu li a {
  text-decoration: none;
  color: black;
}

nav .secondary_nav .menu li a:hover {
  border-bottom: 2px solid black;
}

nav .mobile_nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 90vw;
  height: 100vh;
  max-width: 500px;
  background-color: var(--light-accent);
  -webkit-transition: margin .5s ease-out;
  transition: margin .5s ease-out;
}

nav .mobile_nav .scroll_container {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav .mobile_nav .scroll_container::-webkit-scrollbar {
  display: none;
}

nav .mobile_nav__hide {
  margin-left: -110%;
}

nav .mobile_nav__collapse {
  position: absolute;
  right: 0px;
  top: 146px;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 18px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 18px rgba(0, 0, 0, 0.12);
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

nav .mobile_nav__collapse:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 14px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 14px rgba(0, 0, 0, 0.12);
}

nav .mobile_nav__collapse-hide {
  right: 110vw;
}

nav .mobile_nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: var(--font-xl);
}

nav .mobile_nav-logo .icon_container {
  background-color: var(--primary);
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-right: 10px;
}

nav .mobile_nav .menu {
  margin-left: 40px;
  margin-right: 15px;
  list-style-type: none;
}

nav .mobile_nav .menu li {
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

nav .mobile_nav .menu li:hover {
  background-color: var(--light-gray);
}

nav .mobile_nav .menu li a {
  text-decoration: none;
  color: var(--gray);
  font-size: var(--font-s);
}

nav .mobile_nav .menu .collapsible {
  position: relative;
  overflow-y: hidden;
  min-height: 1.5rem;
}

nav .mobile_nav .menu .collapsible .collapse_icon {
  color: var(--gray);
  position: absolute;
  right: 20px;
  top: 15px;
}

nav .mobile_nav .menu .collapsible .hide {
  margin-top: -100%;
  padding: 0;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
}

nav .mobile_nav .menu .collapsible_menu {
  list-style-type: disc;
  margin-left: 40px;
  margin-top: 15px;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
}

.space_out_nav {
  margin-top: var(--nav-height);
}

.hero {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: var(--nav-height);
}

.hero .glider-contain {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero .glider-contain .glider-next {
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--primary);
}

.hero .glider-contain .glider-prev {
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--primary);
}

.hero .glider-contain .glider {
  height: 420px;
  width: 100%;
}

.hero .glider-contain .glider > div {
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .glider-contain .glider .container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.hero .glider-contain .glider .slide-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .glider-contain .glider .slide-1 h1 {
  font-size: 4rem;
  color: var(--primary);
}

.hero .glider-contain .glider .slide-1 p {
  margin-top: 15px;
  font-size: 2rem;
}

.hero .glider-contain .glider .slide-1 .call_to_action {
  margin-top: 15px;
}

.hero .glider-contain .glider .slide-2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .glider-contain .glider .slide-2 h1 {
  font-size: 4rem;
}

.hero .glider-contain .glider .slide-2 p {
  margin-top: 10px;
  font-size: 2rem;
}

.hero .glider-contain .glider .slide-2 .call_to_action {
  margin-top: 20px;
}

@media only screen and (max-width: 1028px) {
  .hero {
    margin-top: 88px;
  }
  .space_out_nav {
    margin-top: var(--nav-height-half);
  }
  .glider-contain .glider-next {
    right: 15px !important;
  }
  .glider-contain .glider-prev {
    left: 15px !important;
  }
  .mobile_nav {
    display: block !important;
  }
  .mobile_nav__collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .primary_nav-logo span {
    display: none !important;
  }
  .primary_nav-menu_items {
    display: none !important;
  }
  .primary_nav-menu span {
    display: none;
  }
  .secondary_nav {
    display: none !important;
  }
}
/*# sourceMappingURL=header.css.map */