.hero {
    width: 100%;
    box-sizing: border-box;
    margin-top: 178px;
    .glider-contain{
        width: 100%;
        box-sizing: border-box;
        .glider-next {
            right: 60px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--primary);
        }
        .glider-prev {
            left: 60px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--primary);
        }
        .glider {
            height: 420px;
            width: 100%;            
            & > div {                
                background-size: cover;    
                height: 100%;  
                display: flex;         
            }
            .container {
                width: 80%;
                margin: 0 auto;
                height: 100%;
                
            }
            .slide-1 {
                display: flex;
                align-items: center;
                h1 {
                    font-size: 4rem;
                    color: var(--primary);
                }   
                p {
                    margin-top: 15px;
                    font-size: 2rem;
                }
                .call_to_action {
                    margin-top: 15px;
                }
                
            }
            .slide-2 {
                text-align: center;
                display: flex;
                justify-content: center;
                color: white;
                align-items: center;
                h1 {
                    font-size: 4rem;
                }   
                p {
                    margin-top: 10px;
                    font-size: 2rem;
                }
                .call_to_action {
                    margin-top: 20px;
                }
                
            }
        }
    }
}
.popular_categories {
    .item {
        p {
            font-weight: bold;
            margin-top: 20px;
            font-size: 1.8rem
        }
    }
}
.hot_sales_slider {
    .glider-track {
        gap: 35px !important;
        padding: 20px 0px;
    }
}
.featured_banner {
    margin-top: var(--margin-section);
    width: 100%;
    display: flex;
    border-radius: 9px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    .details {
        flex: 1;
        padding: 80px 75px;
        h2 {
            font-size: 2rem;
        }
        p:nth-child(2) {
            font-weight: lighter;
            font-size: 2rem;
        }
    }
    .thumbnail {
        background-size: cover;
        flex: 2;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        p {
            font-weight: bold;
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 1028px) {
    .hero {
        margin-top: 88px;
    }
    .glider-contain{
        .glider-next {
            right: 15px !important;
        }
        .glider-prev {
            left: 15px !important;
        }
    }
    .h_list-5 {
        grid-template-columns: 4 !important;
    }
}