nav {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    .primary_nav {
        max-width: 1440px;
        margin: 0 auto;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 26px;
        padding-right: 26px;
        & > div {
            padding: 10px;
            box-sizing: border-box;
        }
        &-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: var(--font-xl);
            & .icon_container {
                background-color: var(--primary);
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                margin-right: 10px;
            }
        }
        &-menu {
            font-size: var(--font-l);
            cursor: pointer;
            transition: all .5s ease-in-out;
            &:hover {
                background-color: var(--light-gray);
                border-radius: 10px;
            }
        }
        &-search {
            flex: 1;
            background-color: var(--light-gray);
            margin: 0px 10px 0px 10px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            & .search-icon {
                margin-left: 20px;
                margin-right: 10px;
            }
            & input {
                background: none;
                border: none;
                outline: none;
                width: auto;
                flex: 1;
            }
            & .clear-icon {
                margin-left: 10px;
                margin-right: 20px;
            }
        }
        &-menu_items {
            display: flex;
            list-style-type: none;
            li {
                padding: 0px 10px 0px 10px;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .secondary_nav {
        margin: 0 auto;
        max-width: 1440px;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: margin .5s ease-out;
        &__hide {
            z-index: -1;
            margin-top: -50%;
        }
        & .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            li {
                padding: 0px 10px;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
    .mobile_nav {
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 90vw;
        height: 100vh;
        max-width: 500px;
        
        
        background-color: var(--light-accent);
        
        transition: margin .5s ease-out;
        .scroll_container {
            height: 100%;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
        &__hide {
            margin-left: -110%;
        }
        &__collapse {
            position: absolute;
            right: 0px;
            top: 50vh;
            cursor: pointer;
            z-index: 2;
            transform: translate(50%, -50%);
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 18px rgba(0, 0, 0, 0.12);
            height: 64px;
            width: 64px;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            transition: all .5s ease-out;
            &:hover {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 14px rgba(0, 0, 0, 0.12);
            }
            &-hide {
                right: 110vw;
            }
        }
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: var(--font-xl);
            & .icon_container {
                background-color: var(--primary);
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                margin-right: 10px;
            }
        }
        .menu {
            margin-left: 40px;
            margin-right: 15px;
            list-style-type: none;
            li {
                padding: 15px 20px;
                border-radius: 10px;
                &:hover {
                    background-color: var(--light-gray);
                }
                a {
                    text-decoration: none;
                    color: var(--gray);
                    font-size: var(--font-s);
                }
            }
            .collapsible {
                position: relative;  
                overflow-y: hidden;
                min-height: 1.5rem;  
                .collapse_icon {
                    color: var(--gray);
                    position: absolute;
                    right: 20px;
                    top: 15px;
                }  
                .hide {                    
                    // height: 0px;
                    margin-top: -100%;
                    padding: 0;
                    transition: margin .3s ease-out;
                }
                &_menu {
                    list-style-type: disc;
                    margin-left: 40px;
                    margin-top: 15px;
                    transition: margin .3s ease-out;
                }    
            }
        }
    }
}

@media only screen and (max-width: 1028px) {
    .mobile_nav {
        display: block !important;
        &__collapse {
            display: flex !important;
        }
    }

    .primary_nav-logo {
        span {
            display: none !important;
        }
    }
    .primary_nav-menu_items {
        display: none !important;
    }
    .primary_nav-menu {
        span {
            display: none;
        }
    }
    .secondary_nav {
        display: none !important;
    }
}